h1 {
    font-weight: bold;
    font-family: 'Arial';
    color:#b32400;
    font-size: 4rem;
    text-align: center;
    padding-top: 2px;
}
.karta{
    padding-top: 1px;
    margin-top: 10px;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    font-style: italic;
    color: black;
}
.nazovTabulky{
    font-weight: bold;
}
h5{
    font-weight: bold;
}

