h1 {
    font-weight: bold;
    font-family: Verdana;
    color:#b32400;
    font-size: 4rem;
    text-align: center;
    padding-top: 2px;
}
.karta{
    padding-top: 1px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
