.navbar,footer{
    background-color: #ff3333;

}

.logo{
    max-width:9.375rem;
    height: auto;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
a.nav-link:hover {
    color: white;
}
.dropdown-item > img{
    width:130px;
    height: auto;

}
.dropdown-item{
    text-align: left;
}
bi bi-facebook,bi bi-twitter,bi bi-youtube,bi bi-instagram{
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}

.clanok:nth-child(2n) {
    background-color: #ff4d4d;
    color: white;
}
.card-text img{
    width:20%;
}

.card-body{
    color:black;
    background-color:snow;
}
.nazovTabulky,.nazov{
    font-weight: bold;
}
.karta{
    margin-top: 100px;
}
.nadpis,.nadpis_hlavny{
    margin-top: 40px;
    font-weight: bold;
    color:#b30000 ;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.nadpis_hlavny{
    font-size: 50px;
}
#carouselExampleCaptions {
    margin-bottom: 20px;
}

