.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.bootdeys{
    margin-top: 1.5rem;
}
.media-body{
    font-size: 0.9rem;
}
.media-body > p {
    font-size: 1.2rem;
    font-family: Arial;
}
